
/* Header */
.header {
    background-color:#1f2123;
}

.header__logo {
    float:left;
    padding-left:2%;
    padding-top:15px;
    padding-right:15.42%;
}

.nav {
    color: white;
    text-transform: uppercase;
    padding: 42px 0;
    font-size: 14px;
}

.nav_lang {
    padding-left: 1%;
}