html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    padding-right:1%;
    text-decoration:none;
    color:#fff
}


/* Carousel */
.carousel__slide1 {
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase
}

.carousel_slide2__title {
    display: block;
    position: absolute;
    left: 17.5%;
    top:40%;
    text-transform: uppercase
}

.carousel_slide2__line1 {
    display: block;
    position: absolute;
    top: 50%;
    left: 17.5%;
    text-transform: uppercase
}

.carousel_slide2__line2 {
    display: block;
    position: absolute;
    top: 56%;
    left: 17.5%;
    text-transform: uppercase
}

.carousel_slide2__line3 {
    display: block;
    position: absolute;
    top: 62%;
    left: 17.5%;
    text-transform: uppercase
}

.carousel_slide {
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase
}

.carousel__image {
    background:url(../images/gundem.jpg) no-repeat;
    background-size:cover;
    display:block;
    height:450px;
    max-height:450px;
    margin-bottom:0;
    position:relative;
}

.carousel__image1 {
    background:url(../images/hakkimizda.jpg) no-repeat;
    background-size:cover;
    display:block;
    height:450px;
    max-height:450px;
    margin-bottom:0;
    position:relative;
}

.carousel__image2 {
    background:url(../images/hizmetlerimiz.jpg) no-repeat;
    background-size:cover;
    display:block;
    height:450px;
    max-height:450px;
    margin-bottom:0;
    position:relative;
}

.carousel__image3 {
    background:url(../images/slide1.jpg) no-repeat;
    background-size:cover;
    display:block;
    height:450px;
    max-height:450px;
    margin-bottom:0;
    position:relative;
}

.carousel__image4 {
    background:url(../images/slide2.jpg) no-repeat;
    background-size:cover;
    display:block;
    height:450px;
    max-height:450px;
    margin-bottom:0;
    position:relative;
}

.carousel__image5 {
    background:url(../images/slide3.jpg) no-repeat;
    background-size:cover;
    display:block;
    height:450px;
    max-height:450px;
    margin-bottom:0;
    position:relative;
}

.carousel__image6 {
    background: url(../images/slide4.jpg) no-repeat;
    background-size: cover;
    display: block;
    height: 450px;
    max-height: 450px;
    margin-bottom: 0;
    position:relative;
}


/* Main Content */


.main__content {
    margin-top: 207px;
    margin-left: 18%;
    margin-right: 18%;
    height: 740px
}

.main__image {
    float: left;
    margin-right: 9.5%
}

.main__left__image3 {
    float: left;
}

.main__images__right {
    clear: both;
    padding-top: 90px;
}

.main__right__image1 {
    float: left;
    margin-right: 16.5%
}

.main__right__image2 {
    float: left;
    margin-right: 16.5%;
    margin-top: 43px;
}

.main__right__image3 {
     float: left;
     margin-top: 80px;
 }


/* Footer */
.footer {
    padding: 30px 16%;
    clear: both;
    background-color: #414042;
    height: 370px;
}

.footer__left {
    padding: 0 5.35% 0 0;
    width: 30%;
    float: left;
}

.footer__hr {
    border-color: #9c9c9c
}

.footer__left__text {
    color: #9c9c9c
}

.footer__middle {
    width: 30%;
    float: left;
}

.footer__middle__title {
    color: #fff
}

.footer__middle__links {
    list-style: none;
    padding: 0;
    margin: 0
}

.footer__middle__links li {
    margin-bottom:20px;
}

.footer__middle__links li a {
    color:#999999
}

.footer__right {
    width: 30%;
    float: right;
}

.footer__right__title {
    color: #fff
}

.footer__right__media {
    list-style: none;
    padding: 0
}

.footer__media__twitter {
    background:url(../images/twitter.png) no-repeat;
    background-size:contain;
    display:block;
    height:16px;
    margin-bottom:15px
}

.footer__media__twitter a {
    color: #999999;
    padding-left: 25px;
    padding-bottom: 15px
}

.footer__media__facebook {
    background:url(../images/facebook.png) no-repeat;
    background-size:contain;
    display:block;
    height:16px;
    margin-bottom:15px
}

.footer__media__facebook a {
    color:#999999;
    padding-left:27px;
}

.footer__media__linkedin {
    background:url(../images/linkedin.png) no-repeat;
    background-size:contain;
    display:block;
    height:16px;
}

.footer__media__linkedin a {
    color:#999999;
    padding-left:27px;
}

.footer__right__title2 {
    color: #fff;
    margin: 0;
    padding-bottom: 25px;
}

.footer__right__address {
    color: grey;
    margin: 0;
    padding: 0
}

.footer__right__address2 {
    color: grey;
    margin: 0;
    padding-bottom: 25px
}

.footer__right__address4 {
    color: grey;
    margin: 0
}

.footer__right__email {
    text-decoration: underline;
    color: grey
}

.copyright {
    background-color: #29282b;
    padding: 34px 0;
    text-align: center;
    color: #9c9c9c
}
