html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    padding-right:1%;
    text-decoration:none;
    color:#fff;
}


/* Carousel ==============*/
.carousel__slide1 {
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase
}

.carousel_slide2__title {
    display: block;
    position: absolute;
    left: 17.5%;
    top:40%;
    text-transform: uppercase
}

.carousel_slide2__line1 {
    display: block;
    position: absolute;
    top: 50%;
    left: 17.5%;
    text-transform: uppercase
}

.carousel_slide2__line2 {
    display: block;
    position: absolute;
    top: 56%;
    left: 17.5%;
    text-transform: uppercase
}

.carousel_slide2__line3 {
    display: block;
    position: absolute;
    top: 62%;
    left: 17.5%;
    text-transform: uppercase
}

.carousel_slide {
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase
}

.carousel__image {
    background:url(../images/gundem.jpg) no-repeat;
    background-size:cover;
    display:block;
    height:450px;
    max-height:450px;
    margin-bottom:0;
    position:relative;
}

.carousel__image1 {
    background:url(../images/hakkimizda.jpg) no-repeat;
    background-size:cover;
    display:block;
    height:450px;
    max-height:450px;
    margin-bottom:0;
    position:relative;
}

.carousel__image2 {
    background:url(../images/hizmetlerimiz.jpg) no-repeat;
    background-size:cover;
    display:block;
    height:450px;
    max-height:450px;
    margin-bottom:0;
    position:relative;
}

.carousel__image3 {
    background:url(../images/slide1.jpg) no-repeat;
    background-size:cover;
    display:block;
    height:450px;
    max-height:450px;
    margin-bottom:0;
    position:relative;
}

.carousel__image4 {
    background:url(../images/slide2.jpg) no-repeat;
    background-size:cover;
    display:block;
    height:450px;
    max-height:450px;
    margin-bottom:0;
    position:relative;
}

.carousel__image5 {
    background:url(../images/slide3.jpg) no-repeat;
    background-size:cover;
    display:block;
    height:450px;
    max-height:450px;
    margin-bottom:0;
    position:relative;
}

.carousel__image6 {
    background: url(../images/slide4.jpg) no-repeat;
    background-size: cover;
    display: block;
    height: 450px;
    max-height: 450px;
    margin-bottom: 0;
    position:relative;
}

/* Main ======================*/

.main {
    margin: 0 17%;
    text-align: center;
    margin-bottom: 4.35%;
}

.main__text {
    font-size: 30px;
    display: block;
    margin-top: 150px
}

.main__left {
    margin: 0 17%;
}

.main__text__left {
    width: 50%;
    float: left;
}

.main__left__par {
    margin: 0
}

.main__content__right {
    float: right;
    width: 350px;
    margin-bottom: 200px;
}

.main__right__box {
    text-transform: uppercase;
    padding: 20px 0;
    background-color: #08233f;
    color: #fff;
}

.main__right__map {
    background:url(../images/map.png) no-repeat;
    background-size:contain;
    display:block;
    height:40px;
    margin-left:15px;
}

.main__map__title {
    margin-right: 16px;
    margin-left: 110px;
    line-height: 2.5
}

.main__top__content {
    background-color: #f2f2f2;
    padding-left: 30px;
    padding-right: 20px;
    margin-bottom: 50px;
}

.main__content__title {
    color: #627991;
    margin-top: 0;
    padding-top: 35px
}

.main__content__subtitle {
    color: #4c749d;
    float: left;
    margin: 0
}

.main__button {
    display: block;
    float: right
}

.main__button__text {
    text-decoration: none;
    color: #fff;
    background-color: #00a8e1;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 10px;
    display: block;
    margin: -10px 0 10px;
}

.main__content__line {
    color: #092e55;
    clear: both
}

.main__title__bottom {
    color: #627991;
    margin-top: 0
}

.main__subtitle__bottom {
    color: #4c749d
}

.main__button__right {
    display: block;
    float: right
}

.main__text__right {
    text-decoration: none;
    color: #fff;
    background-color: #00a8e1;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 10px;
    display: block;
    margin: -40px 0 10px;
}

.main__bottom__line {
    color: #092e55;
    clear: both;
    display: block;
    padding-bottom: 50px;
}



